body {
    background-color: rgb(10, 150, 231);
}
.jumbotron {
    font-family: 'Heebo', serif;
    color:rgb(20, 18, 18);
    background: url(assets/OIP.jpg) ;
    content: align-self: start;
    background-size: cover;
    height: 30vh;
    line-height: 250px;
    text-align: center;
}


.display-4 {
    font-size: 8.7vh;
}

.todaysData {
    font-family: 'Heebo', serif;
    color: white;
    height: 14vh;
    line-height: 101px;
    background-color: rgb(4, 6, 134);
    margin: 0;
}

h1 {
    font-family: 'Heebo', serif;
}
#dailyData {
    font-family: 'Heebo', serif;
    padding: 50px;
}

.container {
    width: 100%;
}
.container-fluid {
    width: 100%;
    border: black;
    border-style: groove;
    font-size: 3vh;
}

#byState {
    font-family: 'Heebo', serif;
    padding: 48px;
    font-size: x-large;
}
.todaysState{
    font-family: 'Heebo', serif;
    color: white;
    height: 15vh;
    line-height: 100px;
    background-color: rgb(19, 23, 231);
}


.text-center {
    font-family: 'Heebo', serif;
}

@media only screen and (max-width:768px){
    .jumbotron {
        text-align: center;
       height: 200%;
   }
   .container-fluid {
       height: 200%;
    }
    .row {
        height: 190%;
        width: 27%;
    }
   .todaysData {
       height: 200%;
    }
    .text-center-link {
        font-size: 90%;
    }
   .todaysState {
       height: 190%;
   }


 